<!--
    File name: footer.ejs
    Student name: Minh Tri Le
    Student ID: 301323963
    Date: Feb 9, 2023
 -->

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
