<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<div class="container-fluid">-->
        <a class="navbar-brand main-nav__logo ms-4 pt-2 pb-2" href="/">
            <i class="fa-solid fa-id-badge fa-2xl"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <% if(title == "Home"){ %>
                <li class="nav-item active">
                    <% }else{ %>
                <li class="nav-item">
                    <% } %>
                    <a class="nav-link active" aria-current="page" href="/home">
                        <i class="fa-solid fa-house-chimney main-nav__fa-icon"></i>Home
                    </a>
                </li>
                <% if(title == "About"){ %>
                <li class="nav-item active">
                    <% }else{ %>
                <li class="nav-item">
                    <% } %>
                    <a class="nav-link active" aria-current="page" href="/about">
                        <i class="fa-solid fa-address-card main-nav__fa-icon"></i>About
                    </a>
                </li>
                <% if(title == "Products"){ %>
                <li class="nav-item active">
                    <% }else{ %>
                <li class="nav-item">
                    <% } %>
                    <a class="nav-link active" aria-current="page" href="/products">
                        <i class="fa-brands fa-product-hunt main-nav__fa-icon"></i>Products
                    </a>
                </li>
                <% if(title == "Services"){ %>
                <li class="nav-item active">
                    <% }else{ %>
                <li class="nav-item">
                    <% } %>
                    <a class="nav-link active" aria-current="page" href="/services">
                        <i class="fa-brands fa-servicestack main-nav__fa-icon"></i>Services
                    </a>
                </li>
                <% if(title == "Contact"){ %>
                <li class="nav-item active">
                    <% }else{ %>
                <li class="nav-item">
                    <% } %>
                    <a class="nav-link active" aria-current="page" href="/contact">
                        <i class="fa-solid fa-id-card main-nav__fa-icon"></i>Contact
                    </a>
                </li>
            </ul>
        </div>
<!--    </div>-->
</nav>
