<!--
    File name: about.ejs
    Student name: Minh Tri Le
    Student ID: 301323963
    Date: Feb 9, 2023
 -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container about-page">
    <div class="about-page__top">
        <img class="card" src="/assets/images/MinhTriLe_Profile_Photo.jpg"
             alt="MinhTriLe_Profile_Photo">
        <div class="about-page__top__details">
            <p><span>Full Name:</span> Minh Tri Le</p>
            <p>
                <span>About Me:</span> A motivated, fast learner and experienced Web Developer with a distinguished
                academic background in computer science; skilled in React.js, Node.js, and Android,
                working in the e-commerce industry.
            </p>
        </div>
    </div>
    <div class="about-page__bottom">
        <h4>
            More details: See
            <a href="https://drive.google.com/file/d/193e4ILeHtex6H9Oco9qs3P4BcrAYoV5M/view" target="_blank">
                My Resume
            </a>
        </h4>
    </div>
</main>

<!--Script section-->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

