<!--
    File name: products.ejs
    Student name: Minh Tri Le
    Student ID: 301323963
    Date: Feb 9, 2023
 -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container product-page">
    <div class="product-page__card card mt-5">
        <img class="card" src="/assets/images/Kaercher_B2B_E-Commerce.png"
             alt="Kaercher_B2B_E-Commerce">
        <div class="product-page__project__details">
            <p><span>Project Name:</span> <a href="https://business.kaercher.com" target="_blank">myKärcher Business</a></p>
            <p><a href="https://youtu.be/G6340Czjc-4" target="_blank">Watch Demo</a></p>
            <p>
                <span>My Role:</span>
                Front-end Developer,
                Deployment Management,
                Localization and Translation Management.
            </p>
            <p>
                <span>Project Outcome:</span>
                <ul>
                    <li>Finished MVP product within 10 weeks for presentation to 40+ stakeholders at Kaercher and Zoi.</li>
                    <li>Launched for Austrian business customers after 6 months.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="product-page__card card mt-5">
        <img class="card" src="/assets/images/Lotte_Revenue_Management.png"
             alt="Lotte_Revenue_Management">
        <div class="product-page__project__details">
            <p><span>Project Name:</span> Lotte_Revenue_Management</p>
            <p><span>My Role:</span> Android Developer.</p>
            <p><span>Project Outcome:</span> Developed and launched for retail chain managers' use within 3 months.</p>
        </div>
    </div>
    <div class="product-page__card card mt-5">
        <img class="card" src="/assets/images/Hwaseung_Factory_Data_Analysis.png"
             alt="Hwaseung_Factory_Data_Analysis">
        <div class="product-page__project__details">
            <p><span>Project Name:</span> Smart Sensing Factory Data Analysis</p>
            <p><a href="https://youtu.be/BbgtB7zygGA" target="_blank">Watch Demo</a></p>
            <p>
                <span>My Role:</span>
                Front-end Developer,
                Web App Deployment.
            </p>
            <p><span>Project Outcome:</span> Collaborated with the team and manager to deliver the factory web app in 3 months.</p>
        </div>
    </div>
</main>

<!--Script section-->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

