/**
 * File name: app.css
 * Student name: Minh Tri Le
 * Student ID: 301323963
 * Date: Feb 9, 2023
 */

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* ----- Main Nav styles ----- */
.main-nav__logo i {
  color: #7fffd4;
}

.main-nav__fa-icon {
  margin-right: 5px;
}

/* ----- Bottom Nav styles ----- */
.bottom-nav h1 {
  margin-left: 15px;
}

/* ----- Home Page styles ----- */
.home-page h1 span {
  font-weight: 500;
}

.home-page__mission-list {
  font-size: 32px;
  font-weight: 300;
}

.home-page__more-details {
  font-size: 32px;
  font-weight: 300;
}

.home-page__more-details span {
  font-weight: 500;
}

/* ----- About Page styles ----- */
.about-page__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin-top: 30px;
}

.about-page__top img {
  width: 300px;
  min-width: 300px;
  height: auto;
  margin-right: 35px;
}

.about-page__top__details p {
  font-size: 32px;
  margin-bottom: 5px;
}

.about-page__top__details p:last-child {
  margin-bottom: 0;
}

.about-page__top__details span {
  font-weight: bold;
}

.about-page__bottom {
  margin-top: 30px;
}

/* ----- Product Page styles ----- */
.product-page__card {
  flex-direction: row !important;
}

.product-page__card:last-child {
  margin-bottom: 150px;
}

.product-page__card img {
  width: 350px;
  min-width: 350px;
  margin-right: 35px;
}

.product-page__project__details {
  padding: 15px 15px 15px 0;
}

.product-page__project__details p {
  font-size: 26px;
}

.product-page__project__details span {
  font-weight: bold;
}

/* ----- Service Page styles ----- */
.service-page__title {
  margin-top: 35px;
  font-size: 32px;
  font-weight: 700;
}

.service-page__card {
  flex-direction: row !important;
  align-items: center;
}

.service-page__card img {
  width: 350px;
  min-width: 350px;
  margin-right: 35px;
}

.service-page__card:first-child {
  padding: 20px 0;
}

.service-page__card:last-child {
  margin-bottom: 150px;
}

.service-page__card p {
  font-size: 32px;
  font-weight: bold;
}
/* Animation declarations for Service Page */
.spinning {
  animation: spin 20s linear infinite;
}

.flipping {
  animation: flip 5s linear infinite;
  transform-style: preserve-3d;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes flip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

/* ----- Contact Page styles ----- */
.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.contact-page input[type]:not([type="submit"]) {
  width: 100%;
}

.contact-page input[type="submit"] {
  width: 200px;
}
