body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-nav__logo i {
  color: #7fffd4;
}

.main-nav__fa-icon {
  margin-right: 5px;
}

.bottom-nav h1 {
  margin-left: 15px;
}

.home-page h1 span {
  font-weight: 500;
}

.home-page__mission-list {
  font-size: 32px;
  font-weight: 300;
}

.home-page__more-details {
  font-size: 32px;
  font-weight: 300;
}

.home-page__more-details span {
  font-weight: 500;
}
