body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-nav__logo i {
  color: #7fffd4;
}

.main-nav__fa-icon {
  margin-right: 5px;
}

.bottom-nav h1 {
  margin-left: 15px;
}

.home-page h1 span {
  font-weight: 500;
}

.home-page__mission-list {
  font-size: 32px;
  font-weight: 300;
}

.home-page__more-details {
  font-size: 32px;
  font-weight: 300;
}

.home-page__more-details span {
  font-weight: 500;
}

.about-page__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin-top: 30px;
}

.about-page__top img {
  width: 300px;
  min-width: 300px;
  height: auto;
  margin-right: 35px;
}

.about-page__top__details p {
  font-size: 32px;
  margin-bottom: 5px;
}

.about-page__top__details p:last-child {
  margin-bottom: 0;
}

.about-page__top__details span {
  font-weight: bold;
}

.about-page__bottom {
  margin-top: 30px;
}

.product-page__card {
  flex-direction: row !important;
}

.product-page__card:last-child {
  margin-bottom: 150px;
}

.product-page__card img {
  width: 350px;
  min-width: 350px;
  margin-right: 35px;
}

.product-page__project__details {
  padding: 15px 15px 15px 0;
}

.product-page__project__details p {
  font-size: 26px;
}

.product-page__project__details span {
  font-weight: bold;
}
