body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-nav__logo i {
  color: #7fffd4;
}

.main-nav__fa-icon {
  margin-right: 5px;
}

.bottom-nav h1 {
  margin-left: 15px;
}
